* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background:#f4f6f8;
}

header {
    background:#111; 
    color:#fff;
    padding:15px 40px; 
    display:flex; 
    position: static;
    align-items:center; 
    justify-content:space-between;
}
header h1 {
    color:#ff0000; 
    margin-right: 20px;
}
.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display:flex; 
    align-items:center;
}
nav a {
    color:#fff; 
    margin-left:20px; 
    text-decoration:none; 
    font-weight:bold;
}

.search-box {
    display:flex;
    align-items:center; 
    background:#fff; 
    border-radius:30px; 
    overflow:hidden; 
    height:38px;
}

.search-box input {
    border:none;
    outline: none;
    background:#fff;
    padding:0 15px;
    width:200px;
    font-size:14px;
}

.search-box button {
    border:none;
    outline: none;
    background:#fff;
    padding:0 15px;
    cursor:pointer;
    font-size:16px;
}

.footer {
    background: #111;
    color: #ccc;
    margin-top: 40px;
}

.footer-container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 80px;
    padding: 30px 15px;
}

.footer-about {
    width: 65%;
}

.footer-contact {
    width: 35%;
}

.footer-about p,
.footer-contact p {
    text-align: left;
}

.footer-bottom {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #333;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 15px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card h3 {
    overflow: hidden;
}

.btn {
    margin-top: auto;
    display: block;
    text-align: center;
    background: #ff0000;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #d60000;
}

@media (max-width: 768px) {

    header {
        padding: 15px;
    }

    .header-inner {
        flex-direction: column;
        gap: 10px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px 10px;
    }

    .search-box input {
        width: 140px;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-about,
    .footer-contact {
        width: 100%;
    }
}
